<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="blocks/header :: header"></header>




<div class="album py-5 bg-light">
    <div class="container">
        <button type="button" class="btn btn-primary btn-lg px-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Добавить услугу
        </button>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4" th:each="el : ${actions}">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${el.getName()}"></h5>
                            <p class="card-text" th:text="${el.getDescription()}"></p>
                            <a th:href="${'/admin/actions/edit?id='+el.getId()}"
                               class="btn btn-primary">Редактировать</a>
                            <a th:href="${'/admin/actions/delete?id='+el.getId()}" class="btn btn-primary">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление услуги</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/actions/change/accept}" method="post" th:object="${Action}" class="container md-12" enctype="multipart/form-data">
                    <h1 class="h3 mb-3 fw-normal">Добавление услуги</h1>
                    <div class="form-floating">
                        <input type="text" class="form-control" name="name" id="floatingInput" maxlength="255" placeholder="Название услуги">
                        <label for="floatingInput">Название услуги</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" name="description" id="floatingInput" maxlength="255" placeholder="Комментарий">
                        <label for="floatingInput">Комментарии к услуге</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>